body {
  background-color: #eee;
  font-family: Latino;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

input[type="email"] {
  width: 275px;
  padding: 5px;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
